/* index.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

.sidebar {
    width: 200px;
    float: left;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.content {
    margin-left: 210px;
    padding: 20px;
}
