@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

html,
body,
#root,
.app,
.content {
  height: calc(100vh - 64px);
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

.collapsed .content {
  width: calc(100% - 80px);
}

.content {
  transition: width 0.3s;
  overflow-x: hidden;
  /* Add other styles as needed */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}

.login-page{
    display: flex;
    height: calc(100vh - 64px);
    width: 100%;
    justify-content: center;
    align-items: center
}

.login-container{
    width: 300px;
    height: auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

.login-container h2{
    text-align: center;
}

.login-container form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}